@import '../Colors';

.statistics-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;

  & .statistics-row {
    margin: 0 auto;
    display: flex;
    width: 100%;
    margin: 10px 0;
    justify-content: center;

    & .statistics-column {
      display: flex;
      flex-direction: column;
      margin: 0 5px;

      & .statistic {
        font-size: 2.5rem;
        text-align: center;
      }

      & .text {
        font-size: 0.7rem;
        text-align: center;
      }
    }
  }

  & .bar-wrapper {
    width: 90%;
    display: flex;
    margin: 2px 0px;

    & .number {
      width: 1.5rem;
    }

    & .bar {
      background: $statistics-toggle-bar-bg;
      text-align: right;
      min-width: 20px;
      padding: 2px 5px;
    }
  }

  & .button-wrapper {
    display: flex;
    justify-content: center;
    width: 99%;
    border-top: solid 1px $group-border-color;
    padding-top: 5px;
    gap: 10px;
    margin: 10px 0;

    @media (max-width: 400px) {
      & .btn {
        font-size: 1rem;
        padding: 15px 25px;
      }
    }

    & .divider {
      border-right: solid 1px $group-border-color;
    }
  }
}